<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666122791958-pjmgc72ulkktoc3epge8f19jdcms948l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666122791958-pjmgc72ulkktoc3epge8f19jdcms948l</string>
	<key>API_KEY</key>
	<string>AIzaSyBOw8Xr7r7IVC0Y1-kE3lmRbeHNSXw15Rs</string>
	<key>GCM_SENDER_ID</key>
	<string>666122791958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lichtenberg.lastyear</string>
	<key>PROJECT_ID</key>
	<string>lastyear-fe80f</string>
	<key>STORAGE_BUCKET</key>
	<string>lastyear-fe80f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666122791958:ios:f029b7cf1c0ee52da35937</string>
</dict>
</plist>